:root {
  --color-primary: #282c34;
  --color-secondary: #F3F4F6;
  --color-indigo-dark: #4338CA;
  --color-indigo-light: #FFFFFF;
}

[data-theme="light"] {
  --color-primary: #F3F4F6;
  --color-secondary: #282c34;
  --color-indigo-dark: #FFFFFF;
  --color-indigo-light: #4338CA;
}

.ReactModal__Content {
  position: absolute !important;
}